/*Cool scrolling animation*/
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  * {
    box-sizing: border-box;
  } 
.bg-image {
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image: url("images/pic2.jpg"); }
  .img2 { background-image: url("images/pic3.jpg"); }
  .img3 { background-image: url("images/pic4.jpg"); }
  .img4 { background-image: url("images/IMG_0427.jpg"); }
  .img5 { background-image: url("images/IMG_0601.jpg"); }
  .img6 { background-image: url("images/IMG_0644.jpg"); }


  .drop__btn {
    font-size: 1rem;
    background: #6e89e2;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #000;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .drop__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .drop__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .drop__btn:hover {
    color: #000;
  }
  
  .drop__btn:hover:after {
    width: 100%;
  }

  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 10px solid #f1f1f1;
    position: relative; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
    padding: 20px;
    text-align: center;
  }
  @media screen and (max-width: 960px) {
    .bg-image{
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .bg-image{
      width: 100%;
    }
  }

